#content_stack {
    box-shadow:inset 4px 4px 10px rgba(0,0,0,0.3);
    background-image:url('noise-texture.png');
}

#port_spinner {
    background:none;
    margin-top:-13px;
}
#port_spinner text {
    padding-left: 0;
}

#server_stack_sidebar {
    background-color:alpha(@theme_bg_color, 1);
}

.no-bg {
    background:none;
}

.no-border {
    border:none;
}

.cover-labels label {
    font-size:larger;
}
.cover-labels label:first-child {
    font-weight:bold;
}

window.fullscreen #cover_box {
    background: black;
}

#cover_info_revealer {
    background-color:alpha(@theme_bg_color, 0.8);
    box-shadow:0 0 10px @theme_bg_color;
    margin-left:20px;
}

#cover_info_revealer scale mark indicator {
    margin-right:5px;
}

actionbar {
    background-color:@theme_unfocused_bg_color;
}

gridview child {
    padding: 1px;
}
gridview.selection child {
    opacity: 0.5;
}
gridview.selection child:hover,
gridview.selection child:selected {
    opacity: 1;
}
