[Desktop Entry]
Encoding=UTF-8
Name=CoverGrid (mcg)
Comment=CoverGrid for the Music Player Daemon
Keywords=mpd;
Type=Application
Icon=mcg.svg
Exec=mcg
Categories=AudioVideo;
StartupNotify=true
