[Desktop Entry]
Encoding=UTF-8
Name=CoverGrid
Comment=CoverGrid for the Music Player Daemon
Type=Application
Icon=mcg.svg
Exec=mcg
Categories=AudioVideo;
StartupNotify=true
