[Desktop Entry]
Encoding=UTF-8
Name=MPDCoverGrid
Comment=Covergrid for the Music Player Daemon
Type=Application
Exec=mcg
Path=
Categories=AudioVideo;
StartupNotify=true
Name[de_DE]=MPDCoverGrid.desktop
